@charset "UTF-8";
*{
	text-align:left;	
}
.first{
	margin-top:5px;
}
.boardDetail, .comBlock{
	width:640px;
	margin-top:1vw;
	background-color:#f8f9fc;
}
.boardDetail form{
	line-height:35px;
}

form table input:not([type="button"]), table textarea{
	margin-left:15px;
	padding:3px;
}
form input[type="button"], form input[type="submit"]{
	padding: 4px 15px;
	font-size:11px;
}

.comment, .cList{
	width:600px;
}

.cTitle h2, .cTitle span{
	font-size:16px;
}
.namePassword *, .textCreate *, .wordAndCreate{
	margin-top:5px;
}

.textView input{
	margin-top:13px;
}

.namePassword, .cTitle, .textCreate, .wordAndCreate, .profile, .textView{
	margin-left:10px;	
}
.cTitle{
	padding-top:5px;
}
.namePassword input,.textCreate textarea{
	padding:4px 2px;
}
.comment input[type='button'], .comment input[type='submit'], form input[type="reset"]{
	padding:3px 12px;
	font-size:11px;
}
.unit input[type='text'],.unit input[type='password']{
	padding: 2px;
}
#count{
  background:rgba(255,0,0,0.9);
  padding: 0.4em 0.8em;
}
.footer p{
	text-align:center;
}
input[type='button']{
	cursor:pointer;
}
.cList{
	width:600px;
	background-color:#f8f9fc;	
}
.comBlock{
	margin-bottom:1.5vw;
	margin-top:1.5vw;
}
.textView{
	margin-bottom:0.2vw;
}
.page *{
	text-align:center;
}
.page{
	width:950px;
    margin-top:1.5vw;
    font-size:10px;
}
.page p{
    margin-top:0.2vw;
}
.active{
    font-weight:bold;
    color:white;
    background:#727576;
}

.page-item a{
	height:30px;
	width:30px;
	border:0.5px solid #727576;
	padding:5px;
	text-align:center;
}
.order label{
	cursor:pointer;
}
#shareP{
	position : absolute;
	top:182%;
	left:51%;
	box-shadow : 0 1px 12px 0 rgba(0,0,0,.06);
	background-color : #fff;
	padding : 5px 10px;
	width:202px;
	border : 2px solid rgba(0,0,0,.06);
	border-radius : 8px;
	line-height : 20px;
}
#shareP a{
	cursor : pointer;
	font-size : 14px;
	color : grey;
}
#shareP img{
	width: 40px;
	margin-top: 15px;
	vertical-align: inherit;
	cursor: pointer;
}
#shareP img:nth-child(3){
	margin-left:9px;
}
#share{
	border:2px solid darkgray; border-radius: 7px; cursor:pointer;
	padding:6px 18px 7px 15px; position: absolute;
	top: 37%;
	left: 41%;
}