@charset "UTF-8";
*{
	text-align:left;
}
.boardUpdate{
	width:600px;
	margin-top:1vw;
	background-color:#f8f9fc;
}
form{
	line-height:35px;
}
form table input, textarea{
	padding:3px;
	margin-left:15px;
}
input[type="reset"], input[type="button"], input[type="submit"]{
	margin-top:15px;
	padding: 4px 15px;
	font-size:11px;
}
td, th{
	text-align:left;
}
#count{
  background:rgba(255,0,0,0.9);
  border-radius: 0.5em;
  padding: 0.5em 0.9em;
}
.footer p{
	text-align:center;
}