@charset "UTF-8";
*{
	text-align:left;
}
.boardUpdate{
	width:640px;
	margin-top:1vw;
	background-color:#f8f9fc;
}
form{
	line-height:35px;
}
form table input, textarea{
	padding:3px;
	margin-left:15px;
}
input[type="reset"], input[type="button"], input[type="submit"]{
	margin-top:15px;
	padding: 4px 15px;
	font-size:11px;
}
td, th{
	text-align:left;
}
#count{
  background:rgba(255,0,0,0.9);
  border-radius: 0.5em;
  padding: 0.5em 0.9em;
}

p{
	margin-left:15px;
}
.footer p{
	text-align:center;
	margin: 0 auto;
}
sub{
	font-size:11px;
}
sub:hover{
	text-decoration:none;
}
#fileField div input{
	margin:0;
	font-size:14px;
}
#fileField input[type="file"]{
	padding-bottom:10px;
}