@charset "UTF-8";
.boardUpdate{
	width:1200px;
	margin-top:1vw;
}
form{
	line-height:45px;
}

form *{
	box-sizing:border-box;
}
form input, textarea{
	padding:4px;
	margin-left:10px;
	text-align:left;
}
input[type="reset"], input[type="button"], input[type="submit"]{
	padding: 5px 15px;
}
td, th{
	text-align:left;
}
#count{
  background:rgba(255,0,0,0.9);
  border-radius: 0.5em;
  padding: 0.2em 0.6em;
  margin-left:0.5vw;
}