<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<title>게시판 홈페이지</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/create.css}">
	<script type="text/javascript" th:src="@{/js/boardCheck.js}" ></script>
	<script type="text/javascript" th:src="@{/js/inputConstraint.js}" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		
	$(function(){	// 글자 수 제한
		
			$("#content").on("input",function(e){
				
				var content = $(this).val();
				 $(this).height(( 5 + (content.split('\n').length + 1) * 1.2) + 'em');	// 줄 높이 지정
			      $('#count').html(content.length + '/375');
			      if (content.length > 375) {
						alert("최대 375자까지 입력 가능합니다. \n 이후의 글자는 삭제됩니다.");
						$(this).val(content.substring(0, 375));
						$('#count').html("375 / 375");
					}
				});
			
		$("#content").input();
	});
	</script>
</head>

<body>
	<div class="title">
		<h2><a href="/board/createForm">This is Writing<sub style="font-size:0.6em;"> (create) </sub></a></h2>
		<h2>게시글 등록</h2>
	</div>

	<div class="boardCreate">
		<!--  게시글 등록  -->
		<form th:action="@{/board/create}" method="post" id="join" name="create">
			<table>
				<tr>
					<td><input type="text" name="author" id="author" size="20" required maxlength="11" autofocus
					placeholder="이름 (최대 10자)" oninput="check(this,11);">
					<input type="password" name="password" id="password" size="23" oninput="check(this,21);"
					placeholder="비밀번호 (최대 20자)" maxlength="21" required><br><br>
					<span style="color:red">※ 비밀번호 규칙</span><br>
					<span>1. &nbsp;6 ~ 20자 이내</span><br>
					<span>2. 공백 X</span><br>
					<span>3. 영문, 특수문자, 숫자가 적어도 1개이상 포함</span><br>
					<span>4. 같은 문자는 3번까지 반복 가능</span><br>
					</td>
				</tr>
			<!--	<tr>
					<th><label for="passwordC">비밀번호 확인</label></th>

					<td><input type="password" name="passwordC" id="passwordC" size="23" maxlength="20" required></td>
				</tr>-->
				<tr>
					<td><br><br><input type="text" name="title" id="title" size="49" maxlength="41" required placeholder="글 제목 (최대 40자)"
					oninput="check(this,41);" >
					</td>
				</tr>
				<tr>
					<td>
						<textarea style="margin-top:17px;" maxlength="376" name="content" id="content" 
							oninput="check(this,376);" cols="50" required placeholder="글 내용 (최대 375자)"
							></textarea><span style="font-weight:bold;"id="count"></span>
					</td>
				</tr>
			</table>
			<input type="button" value="등록" onclick="joinBoard();"><!--  게시물 값 및 비밀번호 유효성 검사 -->
			<input type="button" value="목록" onclick="history.go(-1);">
		</form>
	</div><br><br><br>

<div class="footer"><br/>
			<p>
			회사소개 &emsp;|&emsp; 개인정보 처리방침 &emsp;|&emsp; 이용약관 &emsp;|&emsp; 인재채용 &emsp;|&emsp; 제휴문의 &emsp;|&emsp; 고객센터</p><br>
			<div class="callCopy">
			<p>06708 서울특별시 서초구 효령로 208 메타빌드 연구소</p>
			<p>대표전화: 010-2583-3226(월~금 09:00 ~ 18:00, 공휴일 제외) 팩스: 02-813-3226</p>
			<p>Copyright ⓒ This is Writing</p><br>
		</div>
	</div>

</body>

</html>