<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8"/>
<title>게시판 홈페이지</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<script th:src="@{/js/inputConstraint.js}"></script>
	<script type="text/javascript" th:src="@{/js/updateDeleteRecommendFile.js}"></script>
	<script th:src="@{/js/yokCheck.js}"></script>
</head>
<body>
	<div class="title">
		<!--  제목  -->
		<h2>
			<a href="/">This is Writing<sub style="font-size: 0.6em;">
					(list) </sub></a>
		</h2>
	</div>
	<div class="clear"></div>
	<div class="search">
		<!--  검색 창 -->
		<form id="seek" name="seek" th:action="@{/board/list}" method="get" onsubmit="return yokCheck();">	<!-- 유효성 검증 후 전송 -->

			<select th:if="${view}==10" name="view"
				onchange="this.form.submit();">
				<option value="10" selected>10개씩</option>
				<option value="15">15개씩</option>
				<option value="20">20개씩</option>
			</select><select th:if="${view}==15" name="view"
				onchange="this.form.submit();">
				<option value="10">10개씩</option>
				<option value="15" selected>15개씩</option>
				<option value="20">20개씩</option>
			</select><select th:if="${view}==20" name="view"
				onchange="this.form.submit();">
				<option value="10">10개씩</option>
				<option value="15">15개씩</option>
				<option value="20" selected>20개씩</option>
			</select><select th:if="${#strings.equals(detail,'title')}" name="detail"
				onchange="this.form.submit();">
				<option value="title" selected>제목</option>
				<option value="author">작성자</option>
			</select><select th:unless="${#strings.equals(detail,'title')}" name="detail"
				onchange="this.form.submit();">
				<option value="title">제목</option>
				<option value="author" selected>작성자</option>
			</select><label for="s"></label><input type="text" id="s" maxlength="20" name="search" size="40"
				placeholder="20자 이내 (욕설, 선정적 단어 검색 금지)" th:value="${search}" /><input
				type="submit" value="검색">
				<script>
					var search = document.querySelector('#s'); // 검색 필드의 값을 받아오고
					search.focus(); // 초점을 맞춤.
					search.setSelectionRange(search.value.length, search.value.length); // 해당 범위의 길이까지 선택
				</script>
		</form>
	</div>

	<div class="nav">
		<!--  총 건수, 정렬, 게시글 등록 -->

		<div class="data">
			<!-- 총 건수, 정렬 관련 -->
			<p style="display: inline-block;">
				총 <span style="color: red; font-size: 1.2em;"
					th:text="${list.totalElements}"></span>건 <span
					th:if="${list.totalPages == 0} " th:text="|[0 / 0 쪽]|"></span> <span
					th:unless="${list.totalPages == 0}"
					th:text="|[${listPage} / ${list.totalPages} 쪽]|"></span>&emsp;
				삭제 <span style="color: skyblue; font-size: 1.2em;"
					th:text="${dCount}"></span>건
			</p>

			<span class="order" th:if="${#strings.equals(or,'desc')}"> <!--  원글 최신 순 -->
				<label style="margin-left: 1.5vw;" for="up">최신 순</label> <input
				style="margin-right: 0.4vw;" type="radio" id="up" name="or" checked
				value="desc" onchange="document.seek.submit();" form="seek">

				<label for="down">오래된 순</label> <input type="radio" id="down"
				name="or" value="asc" onchange="document.seek.submit();" form="seek">
			</span> <span class="order" th:if="${#strings.equals(or,'asc')}"> <!--  원글 오래된 순 -->
				<label style="margin-left: 1.5vw;" for="up">최신 순</label> <input
				style="margin-right: 0.4vw;" type="radio" id="up" name="or"
				value="desc" onchange="document.seek.submit();" form="seek">

				<label for="down">오래된 순</label> <input type="radio" id="down"
				checked name="or" value="asc" onchange="document.seek.submit();"
				form="seek">
			</span>



		</div>

		<div class="create">
			<!--  게시글 등록  -->
			<a th:href="@{|/board/list?view=${view}&or=${or}|}">게시글 목록</a>&emsp; 
			<a th:href="@{/board/downloadExcel(order=${or},detail=${detail},search=${search})}">게시글 Excel 다운로드</a>&emsp; 
			<a th:href="@{/board/createForm}">게시글
				작성</a>
		</div>

		<div class="clear"></div>
		<!--  float속성 제거 -->
	</div>

	<div class="boardList">
		<!--  게시글 리스트  -->
		<table>
			<tr>
				<th width="60px;">번호</th>
				<th width="645px;">제목</th>
				<th width="130px;">작성자</th>
				<th width="100px;">작성일</th>
			</tr>

			<input type="hidden" id="listPage" th:value="${listPage}">
			<tr th:each="board, loop : ${list}">

				<td style="color: gray;" th:if="${board.grDepth == 0}"
					th:text="${board.relation}"></td> <!--  원글 -->
				<td style="color: gray;" th:unless="${board.grDepth == 0}"></td> <!-- 답글 -->
				<td style="text-align: left;" th:if="${board.removeC != true}">
				<span th:if="${board.grDepth == 1}"><span style="color: gray;" th:text="${board.relation}"></span></span>
				<span th:if="${board.grDepth > 1}"><span th:each="depth : ${#numbers.sequence(2,board.grDepth)}">&emsp;</span><span style="color: gray;" th:text="${board.relation}"></span></span>
				<span th:if="${board.grDepth > 0}"><img style="width: 13px; height: 13px;" alt="답글"
						th:src="@{/image/reply.png}"> [<a style="color: red;"
						th:href="@{/board/view(listPage=${listPage},no=${board.no},time=${session.get('lastViews' + board.no)})}">RE</a>]
				</span><a th:href="@{/board/view(listPage=${listPage},no=${board.no},time=${session.get('lastViews' + board.no)})}" style="cursor:pointer" th:text="${board.title}"></a>
		<a th:href="@{/board/view(listPage=${listPage},no=${board.no},time=${session.get('lastViews' + board.no)})}"
					th:if="${board.cList.size() > 0}">(<span style="color: blue;"
						th:text="${board.cList.size()}"></span>)
				</a> <!-- 댓글 클릭 시 이동 -->
					<span style="float: right; position:relative" th:id="|dropBlock${board.no}|">
						<img style="width: 10px" th:src="@{/image/views.png}" alt="조회">
						<span th:text="|(${board.views})|" style="font-size: 0.7em; color:red"></span>&emsp;

						<img style="width: 10px" th:src="@{/image/recommend.png}" alt="추천">
						<span th:text="|(${board.recommand})|" style="font-size: 0.7em; color:blue"></span>&emsp;


						<span th:each="file, loop: ${board.filePacks}">
							<input type="hidden" th:id="|fileName${loop.index}|" th:value="${file.originalName}">
							<input type="hidden" th:id="|filePath${loop.index}|" th:value="${file.savedPath}">
						</span>

						<span th:id="|fileList${board.no}|" style="cursor:pointer;" th:if="${board.filePacks.size() > 0}"
							  onclick="filesView(this.getAttribute('size'),this.getAttribute('no'))" th:size="${board.filePacks.size()}" th:no="${board.no}">
						<img style="width: 10px" th:src="@{/image/save.png}" alt="파일">
						<span style="font-size: 0.7em; color: green;"
						th:href="@{/board/view(listPage=${listPage},no=${board.no})}"
						th:text="|(${board.filePacks.size()})|"></span>
					</span>
					</span></td>

				<td style="color: skyblue; text-align: left;"
					th:unless="${board.removeC != true}">
					
					<span th:if="${board.grDepth == 1}"><span style="color: gray;" th:text="${board.relation}"></span></span>
					<span th:if="${board.grDepth > 1}"><span th:each="depth : ${#numbers.sequence(2,board.grDepth)}">&emsp;</span><span style="color: gray;" th:text="${board.relation}"></span></span>
					<span th:if="${board.grDepth > 0}"><img style="width: 13px; height: 13px;"
						th:src="@{/image/reply.png}" alt="답글"> [<span style="color:red">RE</span>] &nbsp;</span>삭제된 게시글입니다.</td>

				<td th:text="${board.author}"></td>
				<td th:text="${#temporals.format(board.writeDate,'yyyy. M. d. ')}"></td>
			</tr>
		</table>
	</div>

	<div class="page">
		<ul>
			<!-- 조건식이 참인 경우 class값을 class속성에 추가한다. -->
			<li class="page-item"><a
				th:href="@{|?listPage=1&detail=${detail}&search=${search}
			&view=${view}&or=${or}&or2=${or2}|}"
				th:if="${listPage>1}" style="font-weight: bold;"><span
					style="letter-spacing: -6px;">◀</span>◀</a> <span
				th:switch="${list.number - 9 >= 1}"> <!-- 이전 페이지가 첫 페이지보다 작아지면 이전 버튼을 표시하지 않음 -->
					<a th:case="${true}"
					th:href="@{|?listPage=${(list.number)-9}&detail=${detail}&search=${search}
					&view=${view}&or=${or}&or2=${or2}|}">
						<!-- 이전으로 링크 이동 --> <span style="padding: 3px;">◀</span>
				</a>
			</span></li>

			<li th:each="page: ${#numbers.sequence(1, list.totalPages)}"
				th:if="${page >= list.number-3 and page <= list.number+5}"
				class="page-item">
				<!-- 현재 페이지인 경우 활성화 --> <!-- 전체 페이지 수가 0이 아닐때만 표시 --> <a
				style="padding: 5px 11px;" th:if="${list.totalPages} != 0"
				th:text="${page}"
				th:classappend="${page == (list.number+1)} ? 'active'"
				th:href="@{|?listPage=${page}&detail=${detail}&search=${search}
				&view=${view}&or=${or}&or2=${or2}|}"></a>
			</li>

			<li class="page-item"><span
				th:switch="${list.number + 11 <= list.totalPages}"> <!-- 다음 페이지가 전체 페이지를 넘어가면 다음 버튼을 표시하지 않음 -->
					<a style="margin-right: 0.3vw;" th:case="${true} "
					th:href="@{|?listPage=${(list.number)+11}&detail=${detail}&search=${search}
					&view=${view}&or=${or}&or2=${or2}|}">
						<!-- 다음 페이지로 링크 이동 --> <span style="padding: 0.5px;">▶</span>
				</a>
			</span> <a
				th:href="@{|?listPage=${list.totalPages}&detail=${detail}&search=${search}
				&view=${view}&or=${or}&or2=${or2}|}"
				th:if="${listPage<list.totalPages}" style="font-weight: bold;"><span
					style="letter-spacing: -6px;">▶</span>▶</a> <!--  끝으로 --></li>
		</ul>

	</div>
	<div class="addition"></div>
	<br/><br/><br/><br/><br/><br/>
	<div class="footer" id="fixedElement" style="position:relative; bottom:0; left:0; width:100%">
		<p>회사소개 &emsp;|&emsp; 개인정보 처리방침 &emsp;|&emsp; 이용약관 &emsp;|&emsp;
			인재채용 &emsp;|&emsp; 제휴문의 &emsp;|&emsp; 고객센터</p>
		<br>
		<div class="callCopy">
			<p>06708 서울특별시 서초구 효령로 208 메타빌드 연구소</p>
			<p>대표전화: 010-2583-3226(월~금 09:00 ~ 18:00, 공휴일 제외) 팩스: 02-813-3226</p>
			<p>Copyright ⓒ This is Writing</p>
		</div>
	</div>
</body>
</html>
